<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Manage Users</b></h4>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-success">
              <i class="fas fa-plus-circle"></i><span> ADD</span>
            </button>
          </div>
        </div>
      </div>
      <table
        class="table table-striped table-hover table-bordered table-content"
      >
        <thead>
          <tr class="center-align">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="center-align">
            <td>Kamal</td>
            <td>Karunasekara</td>
            <td>kamal@email.com</td>
            <td>56/373, Araliya Road, Colombo 3</td>
            <td>+94776262583</td>
            <td>
              <a href="#" class="btn"><i class="fa fa-edit edit"></i></a>
              <button type="button" class="btn">
                <i class="fas fa-trash-alt delete"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="6">No Employee Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
